# 不可以直接修改 src/main/resources/assets/ 路径下的内容，请到 mtf-cms-a4 项目下修改
src/main/resources/assets/

target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.idea
.vertx
*.iml
db
